html {
    box-sizing: border-box;
   
}

body {
    display: flex;
    flex-direction: column;
   

}

div {
    height: 200px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #1f2937;
  color: white;
  height: 50px;
 
}

.logo, .nav {
    margin: 0px 25px;
}

.image-block {
    display: flex;
    margin: 20px 50px;   
    
}

.hero {
    display: flex;
    justify-content: space-between;
  
    
    

}

ul {
 list-style-type: none;
 display: flex;
 gap: 12px;
 color: white;
}

img{
    height: 250px;
    width: auto;
}

